
<template name="new_Task">
  <div class="ui grid">
    <div class="one column row">
      <div class="column">
        <div class="ui segment">
          {{> add_Task}}
        </div>
      </div>
    </div>


    <div class="two column row">
      <div class="column">
        <div class="ui segment">
          {{#each currentTask}}
          <div class="ui segment">
            <h2>{{taskName}} {{priority}}</h2>

<div class="ui large star rating" data-rating="{{priority}}">
  <i class="icon"></i>
  <i class="icon"></i>
  <i class="icon"></i>
  <i class="icon"></i>
  <i class="icon"></i>
</div>
{{priority}}


            <hr>
            <h3>Tasks</h3>
            {{#each checkPoints}}
              <li>{{name}}</li>
            {{/each}}

<!-- Progress Bar -->
<div class="ui blue active striped progress">
<div class="bar" style="width: 30%;"></div>
</div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          Recent Activity
        </div>
      </div>
    </div>
  </div>
</template>