
<template name="sideBar">
  <div class="ui sidebar">
    <div class="ui red vertical demo sidebar menu">
<!-- Home Link -->
    {{#linkTo route='home.link'}}
    <a class="item {{active '/'}}">
      <i class="home icon"></i>
      Home
    </a>
    {{/linkTo}}
    <a class="{{active '/newTask'}} item">
      <i class="archive icon"></i>
      My Projects
    </a>
    <div class="item">
      <b>Open Projects</b>
      <div class="menu">
        <a class="item">Make</a>
        <a class="item">Contact Us</a>
      </div>
    </div>
    <a class="item">
      <i class="facebook icon"></i>
      Like us on Facebook
    </a>
    </div>
  </div>
</template>